

          /* html {
            display: flex;
            min-height: 100vh;
          }
          body, #__next, #__next > div {
            flex: 1;
            display: flex;
            flex-direction: column;
          } */
          /* #__next > div > .f1 {
            flex: 1;
          } */